#title {
    font-size: 22;
}

.youvscomp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.rockPaperScissors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 500px;
}





.Icons {
    position: relative;
    width:128px;
    height: 128px;
}